<div class="container-fluid emotion-picker">
  <h1>How do you feel today?</h1>
  <div class="emotion-container">
    <div class="row">
      <div class="col-4" (click)="gotoNextPage()">Happy</div>
      <div class="col-4" (click)="gotoNextPage()">Upset</div>
      <div class="col-4" (click)="gotoNextPage()">Meh</div>
    </div>
    <div class="row">
      <div class="col-4" (click)="gotoNextPage()">Angry</div>
      <div class="col-4" (click)="gotoNextPage()">Depressed</div>
      <div class="col-4" (click)="gotoNextPage()">Bitter</div>
    </div>
    <div class="row">
      <div class="col-4" (click)="gotoNextPage()">Exhausted</div>
      <div class="col-4" (click)="gotoNextPage()">Giddy</div>
      <div class="col-4" (click)="gotoNextPage()">Anxious</div>
    </div>
  </div>
</div>
