
<div class="affirmation-container gradient-mesh">
    <div class="affirmation">
        <h2>“I am deliberate and afraid of nothing”</h2>
        <p>Audre Lorde</p>
    </div>

    <div class="affirmation delay-1s">
        <h2>“Your crown has been bought and paid for. Put it on your head and wear it”</h2>
        <p class="delay-3s">Maya Angelou</p>
    </div>

    <div class="affirmation delay-3s">
        <h2>“Embrace the glorious mess that you are”</h2>
        <p class="delay-3s">Elizabeth Gilbert</p>
    </div>
</div>

