@import "../../_variables.scss";

.affirmation-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.affirmation {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: $black;
    text-align: center;
    animation-name: scroll;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    width: 80vw;
    left: 10vw;
    margin: 0 auto;
    line-height: 1.6;
    opacity: 0;
    position: absolute;
    transform: translateY(-50%);
}
.delay-1s {
    animation-delay: 6s;
}
.delay-3s {
    animation-delay: 12s;
}
.affirmation h2 {
    font-size: 32px;
}
.affirmation p:before {
    content: '';
    display: block;
    height: 50px;
    width: 2px;
    background-color: $black;
    margin: 0 auto;
    animation-name: height;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
}
@keyframes height {
    0% {
        height: 50px;
    }
    25% {
        height: 50px;
    }
    100% {
        height: 100px;
    }
}
@keyframes scroll {
    0% {
        top: 100%;
        line-height: 1.6;
        opacity: 0;
    }
    20% {
        opacity: 1;
        line-height: 4;
        top: 50%;
    }
    50% {
        opacity: 1;
        top: 50%;
    }
    70% {
        opacity: 0;
    }
    100% {
        top: -50%;
        line-height: 4;
    }
}

