<div class="container-fluid action-picker gradient-mesh">
  <div class="container">
    <h1>What do you need today?</h1>
    <div class="action-picker-menu row">
      <button type="button" class="btn btn-primary">Connection</button>
      <button type="button" class="btn btn-primary">Comfort</button>
      <button type="button" class="btn btn-primary" (click)="gotoSilence()">Silence</button>
      <button type="button" class="btn btn-primary" (click)="goToSillines()">Silliness</button>
    </div>
  </div>
</div>
